.semantic-table .table-header{
  padding: 1em;
  border: 1px solid black;
}
.semantic-table .table-row{
  padding: 1em !important;
}
.semantic-table .table-cell {
 padding: 1em;
  border: 1px solid black;
}